@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
*
{  box-sizing: border-box;}
/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
	display: none;
}
  
/* Hide scrollbar for IE, Edge and Firefox */
* {
-ms-overflow-style: none;  /* IE and Edge */
scrollbar-width: none;  /* Firefox */
}
.transp
{
	background-color: transparent !important;
}
.no_pad
{
	padding: 0 !important;
}
body,html,main{
	padding: 0;
	margin: 0;
	width: 100vw;
	height: 100%;
	background-color: #24305E;
	font-family: 'Architects Daughter', cursive;
	z-index: -11;
}
body
{
	overflow-y: hidden;
}
main
{
	z-index: 1;
	overflow-y: scroll;
	scroll-snap-type: y mandatory;
}
main section.box,section.anchor
{
	position: relative;
	min-height: 100vh;
	min-width: 100wh;
	height: 100vh;
	width: 100vw;
	scroll-snap-align: start;
	border: 0px white dashed;
	z-index: 1;
}
section.box
{
	color:white;
	background-color: #24305Eaa;
}
.horz_snap
{
	top:0;
	left: 0;
	display: flex;
	flex-direction: row;
	overflow-x: scroll;
	min-width: 100vw;
	scroll-snap-type: x mandatory;
}

.horz_snap section.hor_box
{
	position: relative;
	padding: 0 !important;
	background-color:#24305Eaa;
	flex: none;
	height: 100vh;
	width: 100vw;
	scroll-snap-align: start;
}
section.hor_box > *
{
	padding: 5px;
}
section.box > *
{
	padding: 5px;
}
.box .header
{
	display: box;
	top:0;
	right:0;
	height: 20px;
}
section.anchor
{
	background-color: transparent;
}
.box p
{
	margin:0;
	text-align: justify;
}
section.sim_back
{
	position:absolute !important;
	width:100vw;
	height:100vh;
	left: 0;
	top: 0;
}
#flock_sim
{
	height: 100%;
	width: 100%;
}
.flock_sim > *
{
	margin:auto;
}


