@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
body {
  padding: 0;
  margin: 0;
  background: #383c4a;
  font-family: 'Architects Daughter', cursive;
}
#sim_back{
  display: block;
  position: fixed !important;
  z-index: -1;
}
#flock_sim{
  display: table;
  align-items: center;
  width:100vw;
  height: 100vh;
  top:0;
  left: 0;
}
#flock_sim > *
{
  margin:auto;
}
.content
{
  opacity: .9;
  color: white;
  padding: 8px;
  background-color: #4b5162;
}
.anchor
{
  display: table;
  width: 100vw;
  height: 100vh;
}
#body_content
{
  top:0;
  left: 0;
}