@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
:root
{
	--main-bg:#24305E;
	--main-bg-tr:#24305ee1;
}
*{  
	box-sizing: border-box;
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none;  /* Firefox */
}
*::-webkit-scrollbar {
	display: none;
}
.transp
{
	background-color: transparent !important;
}
.no_pad
{
	padding: 0 !important;
}
body,html,main{
	padding: 0;
	margin: 0;
	width: 100vw;
	height: 100%;
	background-color: var(--main-bg);
	font-family: 'Architects Daughter', cursive;
	z-index: -11;
}
body
{
	overflow-y: hidden;
}
main
{
	z-index: 1;
	overflow-y: scroll;
	scroll-snap-type: y mandatory;
}
main section.box,section.anchor
{
	position: relative;
	flex: none;

	height: 100vh;
	width: 100vw;

	scroll-snap-align: start;
	
	border: 0px white dashed;
	color:white;
	background-color: var(--main-bg-tr);
	
	z-index: 1;
}
section.anchor
{
	background-color: transparent !important;
}
.horz_snap
{
	top:0;
	left: 0;
	display: flex;
	flex-direction: row;
	overflow-x: scroll;
	min-width: 100vw;
	scroll-snap-type: x mandatory;
}

.box .header
{
	display: box;
	top:0;
	right:0;
	height: 20px;
}
.box p
{
	margin:0;
	text-align: justify;
}
section.sim_back
{
	position:absolute !important;
	width:100vw;
	height:100vh;
	left: 0;
	top: 0;
}
#flock_sim
{
	height: 100%;
	width: 100%;
}
.flock_sim > *
{
	margin:auto;
}
ul
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
ul li
{
	width: 200px;
}
.box_wrapper
{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-left: 10px;
	padding-right: 10px;
}
a,a:visited
{
	text-decoration: none;
	color: inherit;
}
a:hover{
	text-decoration: underline;
}
a.links
{
	display: flex;
	height: 42px;
	text-decoration: none;
	color: inherit;
	align-items: center;
	padding: 5px;
	
}
a.links:hover
{
	text-decoration: none;
}
a.links img.logo {
	display: inline-block;
	height: 32px;
	width: 32px;
}
a.links div.title
{
	padding: 5px;
}
#tools_sec
{
	flex-wrap:wrap;
	justify-content: space-evenly;
}
#tools_sec > object
{
	padding: 10px;
	background-color: #ffffffc7;
	border-radius: 5px;
}